/* html {
    rotate: 180deg
}

.listItem-3SmSlK > * {
    transition: 100ms;
}

.listItem-3SmSlK:hover > * {
    scale: 0.05
}

.channel-1Shao0  > * {
    transition: 100ms;
}

.channel-1Shao0:hover  > * {
    scale: 0.05
}


.peopleListItem-u6dGxF  > * {
    transition: 100ms;
}


.peopleListItem-u6dGxF:hover > * {
    scale: 0.05
}

.side-1lrxIh, .container-O54IuJ, #bd-editor-panel {
    display: none;
} */